Flask==2.2.3
Flask-Cors==3.0.10
importlib-metadata==6.0.0
numpy==1.24.2
opencv-python
Pillow==9.4.0
tflite-support==0.4.3

# --extra-index-url https://google-coral.github.io/py-repo/
tflite-runtime==2.7.0
